/* Google Fonts | Omonjon */
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');

/* Bootstrap tools | Omonjon */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arimo', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
}

:root {
    --title-color: #2E3038;
    --title-color-light: #121212;
    --text-color: #9DA1AF;
}

.title-color {
    color: var(--title-color);
}

.title-color-light {
    color: var(--title-color-light);
}

.text-color {
    color: var(--text-color);
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-4 {
    z-index: 4;
}

.z-index-5 {
    z-index: 5;
}

.z-index-6 {
    z-index: 6;
}

.z-index-7 {
    z-index: 7;
}

.z-index-8 {
    z-index: 8;
}

.z-index-9 {
    z-index: 9;
}

.z-index-10 {
    z-index: 10;
}

.fs-6{
    font-size: 16px;
}

.fs-7{
    font-size: 14px;
}

.transition{
    transition: .4s;
}

.fs-title{
 font-size: 36px;

}.fs-title-sec{
 font-size: 26px;
}

input,
button {
    outline: none;
}

li,
ul,
ol{
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}



/* Header */
.nav-link:hover,
.nav-link:focus{
    color: var(--title-color);
    border-bottom: 1px solid var(--bs-primary);
}
