/* Bootstrap tools */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color: #2E3038;
    --title-color-light: #121212;
    --text-color: #9DA1AF;
    --card-text-color: #121212;
    --card-bg-color: #F1F2F4;
}

a,a:hover {
    text-decoration: none;
}


h1,h2,h3,h4,h5,h6,p,label,ul,li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.title-color {
    color: var(--title-color);
}

.title-color-light {
    color: var(--title-color-light);
}

.text-color {
    color: var(--text-color);
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-4 {
    z-index: 4;
}

.z-index-5 {
    z-index: 5;
}

.z-index-6 {
    z-index: 6;
}

.z-index-7 {
    z-index: 7;
}

.z-index-8 {
    z-index: 8;
}

.z-index-9 {
    z-index: 9;
}

.z-index-10 {
    z-index: 10;
}

.lh-20 {
    line-height: 20px;
}

.opacity-7 {
    opacity: 0.7;
}

.outline-none{
    outline: none;
}


/*****--================ SEARCH LINKS | Sirojiddin ================*****/

.margin-top {
    margin-top: 140px;
}

.bg-src {
    background: #F7F7F7;
    border-radius: 20px;
    padding: 31px 102px 51px 103px;
}

.p4 {
    padding: 4px;
}
.h-58px {
    height: 58px;
}
.w-50px {
    width: 50px;
}
.search-btn {
    border-radius: 8px;
}
.search-btn-text {
    background: #B9BCC6;
    padding: 13px 48px;
    color: #fff;
}

.search-btn-icon {
    background: #B9BCC6;
    padding: 13px;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
}
.search-wrapper form input[type=search]::placeholder{
    color: #9DA1AF;
    opacity: 0.7;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
}

.search-wrapper .form-control:focus {
    border: none;
    box-shadow: none;
}

.search_links a {
    border-bottom: 1px dashed #165AB7;
   /* margin-left: 28px;*/
}
.search_links .search-link:first-child {
    margin-left: 28px !important;
}
.search-link {
    margin-right: 28px;
}

.mt-140px {
    margin-top: 140px;
}

.offers-card {
    border: 1px solid #E3E4E8;
    border-radius: 15px;
    padding: 30px 0 0 30px;
}

.offers-card h4 {
    color: var(--card-text-color);
    font-size: 36px;
}

.offers-card p {
    color: var(--card-text-color);
    font-size: 16px;
}

