/* Google Fonts | Omonjon */
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');

/* Bootstrap tools | Omonjon */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color: #2E3038;
    --title-color-light: #121212;
    --text-color: #9DA1AF;
}

.title-color {
    color: var(--title-color);
}

.title-color-light {
    color: var(--title-color-light);
}

.text-color {
    color: var(--text-color);
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-4 {
    z-index: 4;
}

.z-index-5 {
    z-index: 5;
}

.z-index-6 {
    z-index: 6;
}

.z-index-7 {
    z-index: 7;
}

.z-index-8 {
    z-index: 8;
}

.z-index-9 {
    z-index: 9;
}

.z-index-10 {
    z-index: 10;
}

input,
button {
    outline: none;
}

li,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}