/* Google Fonts | Omonjon */
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');

/* Bootstrap tools | Omonjon */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color: #2E3038;
    --title-color-light: #121212;
    --text-color: #9DA1AF;
    --card-text-color: #121212;
    --card-bg-color: #F1F2F4;
    --btn-color: #B9BCC6;
    --bg-first: linear-gradient(0deg, #E0F8FF, #E0F8FF), linear-gradient(254.32deg, #CEE3FF 6.59%, #C8EEF7 74.8%);
    --bg-second: linear-gradient(0deg, #FFEEDD, #FFEEDD), linear-gradient(254.32deg, #CEE3FF 6.59%, #C8EEF7 74.8%);
    --bg-thirdy: linear-gradient(0deg, #EFFFEA, #EFFFEA), linear-gradient(254.32deg, #CEE3FF 6.59%, #C8EEF7 74.8%);
    --bg-fourth: linear-gradient(0deg, #FFECF6, #FFECF6), linear-gradient(254.32deg, #CEE3FF 6.59%, #C8EEF7 74.8%);
    --color-gray: #F1F2F4;
    --service-color: #F1F9FF;
    --color-warning: #FFF278;
    --gray-bg-color: #F1F9FF;
    --footer-link-color: #737373;
}

body {
    font-family: IngoStem, Arial, Verdana, Courier, serif;
    font-weight: 400;
    font-size: 16px;
}

.title-color {
    color: var(--title-color) !important;
}

.title-color-light {
    color: var(--title-color-light) !important;
}

.text-color {
    color: var(--text-color) !important;
}

.footer-link-color {
    color: var(--footer-link-color);
}

.w-26 {
    width: 26%;
}

.w-35px {
    width: 35px;
}

.h-35px {
    height: 35px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
}

@media (min-width: 576px) {
    .w-sm-100{
        width: 100% !important;
    }
}

.bg-light-gray {
    background: #e1e1e1;
}

.cursor-pointer {
    cursor: pointer;
}

.border-gray {
    border-color: #e1e1e1;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-4 {
    z-index: 4;
}

.z-index-5 {
    z-index: 5;
}

.z-index-6 {
    z-index: 6;
}

.z-index-7 {
    z-index: 7;
}

.z-index-8 {
    z-index: 8;
}

.z-index-9 {
    z-index: 9;
}

.z-index-10 {
    z-index: 10;
}

.fs-7 {
    font-size: 14px !important;
}

.fs-8 {
    font-size: 20px !important;
}

.fs-6 {
    font-size: 16px !important;
}

.fs-9 {
    font-size: 12px !important;
}

.w-max-content {
    width: max-content;
}

.opacity-7 {
    opacity: 0.7;
}

.outline-none {
    outline: none;
}

.fs-7 {
    font-size: 14px;
}

.transition {
    transition: .4s;
}

.fs-title {
    font-size: 36px;
}

.fs-title-sec {
    font-size: 26px;
}

input,
button {
    outline: none;
}

.border-none {
    border: none;
}

li,
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/*------------ SADDEN SECTION/SOBIROVS ------------*/

.sadden-sec {
    background-color: #FEF5E7;
    border-radius: 15px;
}

.sadden-h3 {
    padding-top: 43px;
    padding-bottom: 16px;
}

/* Loader | Omonjon */
.load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto 0;
    background-color: var(--bs-white);
    display: grid;
    place-items: center;
    z-index: 100;
}

.load .load-gif {
    width: 100%;
    height: 100%;
}

/* DARK LIGHT MODODE | Toggle | Omonjon*/
html.blind {
    filter: grayscale(1) invert(0);
    -webkit-filter: grayscale(1) invert(0);
    -moz-filter: grayscale(1) invert(0);
    -o-filter: grayscale(1) invert(0);
    background-color: darkgrey;
    background-image: none;
    color: #333 !important;
}

.position-darkLight {
    bottom: 30px;
    left: 20px;
}

#toggleThemeMode[type=checkbox],
#toggleVoiceMode[type=checkbox]{
    visibility: visible;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    background-image: url("../images/icons/moon.svg");
}

.darkmode .label,
.voicemode .label{
    display: flex;
    width: 40px;
    height: 20px;
    /*border: 2px solid;*/
    border-radius: 99em;
    position: relative;
    transition: transform 0.5s ease-in-out;
    transform-origin: 50% 50%;
    cursor: pointer;
    background: url("../images/icons/moon.svg") no-repeat right/contain var(--text-color);
    background-size: 21px 13px !important;
}
.darkmode .label {
    background: url("../images/icons/moon.svg") no-repeat right/contain var(--text-color);
}
.voicemode .label{
    background: url("../images/icons/volume-on.svg") no-repeat right/contain var(--text-color);
}
.darkmode .label::after,
.voicemode .label:after{
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px;
    z-index: 1;
    background-size: 16px 15px !important;
}

.darkmode .label:after {
    background: url("../images/icons/sun.svg") no-repeat left/contain;
}

.voicemode .label:after {
    background: url("../images/icons/volume-off.svg") no-repeat left/contain;
}

.darkmode .label:before ,
.voicemode .label:before{
    transition: transform 0.5s ease;
    transition-delay: 0s;
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: var(--bs-white);
    border-radius: 50%;
    top: 2px;
    left: 2px;
    z-index: 2;
}

#toggleThemeMode[type=checkbox]:checked + .label:before,
#toggleVoiceMode[type=checkbox]:checked+ .label:before{
    transform: translateX(20px);
    background-color: var(--bs-white);
}

#toggleThemeMode[type=checkbox]:checked + .label,
#toggleVoiceMode[type=checkbox]:checked+ .label{
    background-color: var(--text-color);
}

.noDefalult {
    width: auto;
    display: inline-block;
    cursor: default;
    position: relative;
    color: #212529 !important;
    padding: 0 !important;
}

.btn-voice,
#voiceSelect {
    display: none;
}

.btn-voice {
    z-index: 999;
    border: 2px solid var(--bs-dark);
    border-radius: 8px;
    overflow: hidden;
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.visibility-hidden {
    visibility: hidden !important;
}

.user-select {
    user-select: none !important;
}

.icon-voice {
    background: var(--bs-primary);
    width: 100%;
    height: 100%;
    transition: 0.4s;
    border-radius: 50%;
}

/* Header | Omonjon */
.header .nav-bottom .navbar,
.header .nav-bottom .dropdown {
    position: initial;
}

.menu-item-burger {
    display: flex;
    height: 0;
    width: 0;
    opacity: 0;
    transform: scale(0);
    transform-origin: left;
    transition: all .35s;
}

.sticky .menu-item-burger {
    height: 2.125rem;
    width: 2.125rem;
    opacity: 1;
    transform: scale(1);
    margin: 0;
}

.sticky .border-bottom {
    border-bottom: none !important;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background: var(--bs-white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.d-grid-custom {
    grid-template-columns: repeat(2, 1fr);
}

.typeIns .card-img-top {
    width: 80px;
}

.btn-close:focus {
    box-shadow: none;
}

.header .nav-bottom .dropdown-item:hover {
    background-color: transparent;
}

.header .nav-bottom .nav-link:nth-last-child(1).dropdown-toggle:after,
.header .nav-bottom .nav-link:nth-last-child(6).dropdown-toggle:after {
    border: none !important;
}

.header .nav-bottom .dropdown-menu {
    border-radius: 0 0 24px 24px;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header .nav-bottom .dropdown-menu .container {
    padding-right: 0;
}

.header .nav-bottom .col-5 {
    padding-right: 0;
    padding-left: 0;
}

.header .navbar-brand img {
    max-width: 205px;
    width: 100%;
}

.header .nav-link {
    border-bottom: 2px solid transparent;
}

.header .nav-link:hover,
.header .nav-link:focus {
    color: var(--bs-black);
    border-bottom: 2px solid var(--bs-white);
    border-radius: 36px 36px 0 0;
}

.mt-50px {
    margin-top: 50px;
}


.offers-card {
    border: 1px solid #E3E4E8;
    border-radius: 15px;
}

.offers-card p {
    top: 11%;
    right: 30%;
}

.offers-card:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 32px rgba(0, 0, 0, 0.16);
    border: 1px solid #E3E4E8;
}

.offers-card h4 {
    color: var(--card-text-color);
    font-size: 36px;
}

.soon {
    top: -5px;
    right: -60px;
    transform: rotate(45deg);
}

.transition-default {
    transition: 300ms all ease;
}

.custom-btn {
    border: 1px solid var(--btn-color);
    color: var(--btn-color);
}

/* INTRO SWIPER | Omonjon  */

.introSwiper .swiper-partners-btn-prev {
    left: auto;
    top: 40px;
    right: 70px;
    box-shadow: 1px 1px 19px rgba(50, 50, 71, 0.08), 0 4px 8px rgba(50, 50, 71, 0.06);
    transition: all 300ms ease;
    color: var(--bs-primary) !important;
}

.introSwiper .swiper-partners-btn-prev i,
.introSwiper .swiper-partners-btn-next i{
    color: var(--bs-primary);
    transition: all 300ms ease;
}

.introSwiper .swiper-partners-btn-prev:hover i,
.introSwiper .swiper-partners-btn-next:hover i{
    color: var(--bs-white);
}

.introSwiper .swiper-partners-btn-prev:hover {
    background-color: var(--bs-primary) !important;
    color: var(--bs-white) !important;
    transition: all 300ms ease;
}

.introSwiper .swiper-partners-btn-prev::after,
.introSwiper .swiper-partners-btn-next::after {
    content: '';
}

.introSwiper .swiper-partners-btn-prev i,
.introSwiper .swiper-partners-btn-next i {
    font-size: 25px;
}

.introSwiper .swiper-partners-btn-next{
    left: initial;
    top: 40px;
    right: 15px;
    box-shadow: 1px 1px 19px rgba(50, 50, 71, 0.08), 0 4px 8px rgba(50, 50, 71, 0.06);
    transition: all 300ms ease;
}

.introSwiper .swiper-partners-btn-next:hover {
    background-color: var(--bs-primary) !important;
    color: var(--bs-white) !important;
    transition: all 300ms ease;
}

.introSwiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    font-size: 10vw;
    text-align: center;
    color: #fff;
    transition: 0.5s all;
}
.introSwiper .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px !important;
}

.introSwiper .swiper-pagination-bullet{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0 10px !important;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.introSwiper .swiper-pagination-bullet span {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* button circle */
.introSwiper .swiper-progress {
    transform: rotate(-90deg);
}
.introSwiper .circle-origin {
    fill: transparent;
    stroke: var(--bs-white);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-dasharray: 125.664px;
    stroke-dashoffset: 125.664px;
}

.introSwiper .swiper-pagination-bullet-active .circle-origin {
    animation: swiperProgress 5s;
}

@keyframes swiperProgress {
    0% {
        stroke-dashoffset: 125.664px;
    }

    90% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -125.664px;
    }
}

.introSwiper .bg-image-1 {
    background: url("../images/ingo-bg-3.jpg") no-repeat center/cover;
}

.introSwiper .bg-image-2 {
    background: url("../images/ingo-bg-1.jpg") no-repeat center/cover;
}

/*=============== Partners | Swiper ===============*/
.partnersSlider .bg-slider {
    background: var(--color-gray);
}

.partnersSlider .filter-hover-gray {
    filter: grayscale(1) opacity(0.3);
    transition: filter 300ms ease;
}

.partnersSlider .filter-hover-gray:hover {
    filter: grayscale(0) opacity(1);
    transition: filter 300ms ease;
}

.partnersSlider .swiper-container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    max-width: 1230px;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .swiper-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .swiper-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .swiper-container {
        max-width: 960px;
    }
}

@media (min-width: 1024px) {
    .swiper-container {
        max-width: 992px;
    }
}

@media (min-width: 1140px) {
    .swiper-container {
        max-width: 1114px;
    }
}

@media (min-width: 1200px) {
    .swiper-container {
        max-width: 1168px;
    }
}

@media (min-width: 1262px) {
    .swiper-container {
        max-width: 1230px;
    }
}


.partnersSlider .swiper {
    width: 100%;
    height: 600px;
}

.partnersSlider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.partnersSlider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.partnersSlider .swiper-pagination-bullet {
    background-color: #fff;
    opacity: .9;
    scale: 1.4;
    margin: 0 6px !important;
}

.partnersSlider .swiper-pagination-bullet-active {
    background-color: var(--bs-primary);
    opacity: 1;
    scale: 1.7;
}

.partnersSlider {
    height: auto !important;
}

.partnersSlider .partner-card {
    height: 120px;
}

.partnersSlider .swiper-partners-btn-prev,
.partnersSlider .swiper-rtl .swiper-button-next {
    left: 14px;
    right: 80px;
    box-shadow: 1px 1px 19px rgba(50, 50, 71, 0.08), 0 4px 8px rgba(50, 50, 71, 0.06);
    transition: all 300ms ease;
    color: var(--bs-primary) !important;
}

.partnersSlider .swiper-partners-btn-prev i,
.partnersSlider .swiper-partners-btn-next i{
    color: var(--bs-primary);
    transition: all 300ms ease;
}

.partnersSlider .swiper-partners-btn-prev:hover i,
.partnersSlider .swiper-partners-btn-next:hover i{
    color: var(--bs-white);
}

.partnersSlider .swiper-partners-btn-prev:hover {
    background-color: var(--bs-primary) !important;
    color: var(--bs-white) !important;
    transition: all 300ms ease;
}

.partnersSlider .swiper-partners-btn-prev::after,
.partnersSlider .swiper-partners-btn-next::after {
    content: '';
}

.partnersSlider .swiper-partners-btn-prev i,
.partnersSlider .swiper-partners-btn-next i {
    font-size: 25px;
}

.partnersSlider .swiper-partners-btn-next,
.partnersSlider .swiper-rtl .swiper-button-next {
    left: initial;
    right: 14px;
    box-shadow: 1px 1px 19px rgba(50, 50, 71, 0.08), 0 4px 8px rgba(50, 50, 71, 0.06);
    transition: all 300ms ease;
}

.partnersSlider .swiper-partners-btn-next:hover {
    background-color: var(--bs-primary) !important;
    color: var(--bs-white) !important;
    transition: all 300ms ease;
}


.partnersSlider .sadden-img {
    margin-top: -48px;
}

/*------------ WORKSHOP SECTION | SOBIROVS ------------*/
.self-dashed {
    border-bottom: 2px dashed var(--text-color);
}

/* Footer | Omonjon */

.footer-logo img {
    max-width: 205px;
    width: 100%;
}

.footer-social-fixed {
    bottom: 90px;
    left: 30px;
}


/* SCROLL UP | Omonjon */
.scrollup {
    position: fixed;
    right: 3rem;
    bottom: -30%;
    background-color: var(--bs-primary);
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    color: var(--bs-white);
    font-size: 1.25rem;
    transition: .3s;
    text-decoration: none !important;
}

.scrollup:hover {
    transform: translateY(-.35rem);
    color: var(--bs-primary);
    background-color: var(--bs-black);
}

/* Show Scroll Up | Omonjon */
.show-scroll {
    bottom: 5rem;
}

/*=============== SCROLL BAR | Omonjon ===============*/
::-webkit-scrollbar {
    width: 9px;
    border-radius: .5rem;
    background-color: hsl(207, 4%, 80%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(207, 4%, 65%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--bs-primary);
}


/* Special section | Omonjon  */
.plusminus {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.plusminus.active:before {
    transform: translatey(-50%) rotate(-90deg);
    opacity: 0;
}
.plusminus.active:after {
    transform: translatey(-50%) rotate(0);
}
.plusminus:before, .plusminus:after {
    content: "";
    display: block;
    background-color: var(--bs-primary);
    position: absolute;
    top: 50%;
    left: 0;
    transition: 0.35s;
    width: 100%;
    height: 3px;
    border-radius: 10px;
}
.plusminus:before {
    transform: translatey(-50%);
}
.plusminus:after {
    transform: translatey(-50%) rotate(90deg);
}

.special-tag {
    position: absolute;
    left: 120px;
    transform: translate(-50%, -50%);
}

.special-tag input{
    display: none;
}

.special-tag label {
    position: relative;
    width: 50px;
    height: 50px;
    background: var(--bs-primary);
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 300ms ease-in-out;
}

.special-tag label.toggle-btn:before,
.special-tag label.toggle-btn:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 25px;
    background-color: var(--bs-white);
}

.special-tag label.toggle-btn:before{
    transform: translate(-50%, -50%);
}

.special-tag label.toggle-btn:after{
    transform: translate(-50%, -50%) rotate(90deg);
}

.special-tag .special-tag-body {
    position: relative;
    top: -20px;
    display: flex;
    flex-direction: column;
    width: 71px;
    opacity: 0;
    left: -100vw;
    padding: 10px 10px;
    row-gap: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.02);
    transition: left 0ms ease-in-out 300ms,
    top 300ms ease-in-out,
    opacity 300ms ease-in-out;
}

.special-tag .special-tag-body a{
    display: block;
    text-align: center;
    color: var(--bs-primary);
}

.special-tag #toggle-btn:checked ~ .special-tag-body {
    left: 0;
    top: 10px;
    opacity: 1;
    transition: left 0ms ease-in-out 0ms,
                top 300ms ease-in-out,
                opacity 300ms ease-in-out;
}

.special-tag #toggle-btn:checked + label{
    transform: rotate(135deg);
}


/* Inc Dec font-size | Omonjon */
.decremet {
    font-size: 10px;
    opacity: 0.4;
    user-select: none;
    pointer-events: none;
    cursor: not-allowed;
}

.decremet.visibile {
    visibility: visible;
    user-select: auto;
    pointer-events: visible;
    opacity: 1;
    cursor: pointer;
}

.increment {
    font-size: 24px;
    visibility: visible;
    user-select: auto;
    pointer-events: visible;
    opacity: 1;
    cursor: pointer;
}

.increment.visibile-hide {
    opacity: 0.4;
    user-select: none;
    pointer-events: none;
    cursor: not-allowed;
}

.increment,
.decremet,
.autoSize {
    width: 37px;
    height: 37px;
    background-color: var(--bs-primary);
    color: var(--bs-white) !important;
    transition: 0.3s ease;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.dropdown-not-close .dropdown-item:hover,
.dropdown-not-close .dropdown-item:focus {
    background-color: var(--bs-white) !important;
    color: var(--bs-primary) !important;
}